*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato',Arial, Helvetica, sans-serif;

}



#header{
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    padding: 0 20px;
    background-color: pink;
    top: 0;
}

#header .header-img{
    width: 60vw;
    height: 34px;
}

#header .header-img img{
    height: 100%;
    width: 100%;
    max-width: 300px;/*Esto del max-width y el width se hace para que si el width maximo de 300 llega a ser minimo tome el 100% de su contenedor padre*/
}



.list-nav{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    padding-right: 60px;
}

#hero{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#hero h2{
    font-size: 1.7em;
    margin: 1em;
    word-wrap: break-word;
}


#hero form{
    text-align: center;
}
#hero input[type='email']{
    max-width: 275px;
    padding: 5px;
    width: 100%;
}

#hero input[type='submit']{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 200px;
    margin: 15px 0;
    height: 30px;
    font-weight: 900;
}
.btn{
    border: none;
    background-color: pink;
    text-transform: uppercase;
    padding: 0 20px;
    cursor: pointer;
}

.btn:hover{
    transition: all 0.3s;
    background-color: rgb(253, 164, 179);
}

.container{
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1000px;
    width: 100%;
}

.container .grid{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
.container .grid .desc{
    line-height: 1.2;
    padding-left: 10px;

}

.container .grid .desc h2{
    font-size: 1.6em ;
    margin-bottom: 5px;
}

.container .grid .desc p{
 padding-left: 5px;
 font-size: 1.1em ;
}

.icon{
    width: 16vw;
    height: 125px;
    min-width: 125px;
    
}
.icon img{
    height: 100%;
    width: 125px;
}

.desc{
    width: 86vw;
}
/* video */

#how-it-works{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#how-it-works > iframe{
    max-width: 560px;
    width: 100%;
}

/* pricings */

#pricing{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: start;
    margin-top: 40px;
    align-items: stretch;
    margin-bottom: 80px;
}

#pricing .product{
    width: calc(100%/3);
    overflow: hidden;
    margin: 5px;

    border-radius: 20px;
    box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.04),0px 4px 14px 0px rgba(0,0,0,0.06),0px 1px 5px 0px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    
}

.level-img{

    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: pink;
    background-size: contain;

 
}

.product:nth-child(1) .level-img{
    background-image: url(./media/Cookiee.png);
}
.product:nth-child(2) .level-img{
    background-image: url(./media/Cupcakee.png);
}
.product:nth-child(3) .level-img{
    background-image: url(./media/Cheescakee.png);
}

.title-cart{
    text-align: start;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.product h2{
    padding-left:10px ;
}

.product .price-span{
    font-size: 0.650em;
    color: grey;
}
.product p{
    color: black;
    font-weight: 600;
    padding: 10px;
    font-size: 1.050em;
}

.product ul{
    padding-left: 30px;
    padding-bottom: 5px;
}

.product .btn{
    width: 100px;
    margin: 10px auto;
    padding: 15px 0;
    border-radius: 6px;
    
}

/* footer */
footer{
    width: 100%;
    background-color: pink;
    padding-bottom: 10px;
}
.footer-container{
    max-width: 1000px;
    width: 100%;
    background-color: pink;

    margin: 0 auto;
}

.footer-container ul , .footer-container span{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.footer-container ul li{
    list-style: none;
}
.footer-container a, .list-nav li a{
    text-decoration: none;
    color: black;
}

.footer-container a:hover, .list-nav li a:hover{
    transition: all 0.3s;
    color: rgb(253, 164, 179);
}

.footer-container ul li{
    padding: 5px;

    
}

/* media */

@media (max-width:800px){
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    #features .desc{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        font-size: 0.9em;
    }
    #pricing .product{
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width:650px){
    .list-nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .list-nav li{
        padding: 2px 0;
    }
}

@media (max-width:600px){
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list-nav{
        padding: 0;
    }
}

@media (max-width:550px){
    .icon{
        display: none;
    }

    #features .desc{
        width: 100%;
        text-align: center;
    }
}